<div class="signup-container">
  <div class="signup-image">
    <img src="../../../../assets/14.jpg" alt="bg" />
  </div>

  <div class="signup-form">
    <form>
      <h2>Sign Up</h2>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter email" />
      </div>

      <div class="input-group">
        <label for="email">Username</label>
        <input type="text" id="username" placeholder="Enter username" />
      </div>

      <div class="input-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input type="password" id="password" placeholder="Enter password" />
          <i
            class="fa fa-eye"
            id="togglePassword"
            (click)="togglePasswordView()"
          ></i>
        </div>
      </div>

      <button type="submit">Sign Up</button>

      <div class="links">
        <a href="/">Return to Home</a>
        <a href="/login">Log In</a>
      </div>
    </form>
  </div>
</div>
