.trainers-container {
  text-align: center;
  padding: 50px 20px;
}

.trainers-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: auto;
}

.trainer-card {
  background-color: #292929;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.trainer-card:hover {
  transform: scale(1.05);
}

.trainer-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.book-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--secondary-color);
  color: var(--light-gray);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.book-btn:hover {
  background-color: var(--accent-color);
  color: var(--light-black);
}
