.membership-container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 0 20px 30px 20px;
}

.search-box {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #333;
  border: none;
  color: white;
  border-bottom: 2px solid var(--secondary-color);
}

.form-section {
  margin-bottom: 2rem;
  background-color: #222;
  padding: 1rem;
  border-radius: 8px;

  input,
  select {
    width: 100%;
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    background-color: #333;
    border: none;
    color: white;
  }
}

.feature-box {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  label {
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] {
    margin-right: 5px;
  }
}

.primary-btn {
  background-color: var(--secondary-color);
  border: none;
  color: black;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.plans-list {
  .plan-card {
    background-color: #2a2a2a;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid var(--accent-color);
    border-radius: 5px;

    h4 {
      color: var(--secondary-color);
    }

    button {
      margin-right: 0.5rem;
      margin-bottom: 10px;
      padding: 0.4rem 1rem;
      border: none;
      background-color: var(--accent-color);
      color: black;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
